@import "vars";
@import "fonts";
@import "main";


.form-container {
    max-width: 665px;
    width: 100%;
    min-height: 481px;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    &__left {
        width: 138px;
        min-width: 138px;
        background: $blue;
        color: #fff;
        padding: 0 6.5px 22.5px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &-title {
            transform: rotate(-90deg);
            font-size: 49px;
            line-height: 63px;
            letter-spacing: 0.5px;
            font-family: $font1;
            font-style: normal;
            font-weight: normal;
            min-width: max-content;
            height: 63px;
            position: relative;
            bottom: 48px;
        }
    }

    &__right {
        background: #fff;
        width: 100%;
        padding: 39px 22px 33px 20px;
        max-width: 527px;
        svg{
            position: absolute;
            bottom: 0;
            right: 0;
            fill:#fff;
            animation: animate-fill 6s 1s both;
        }
    }
}
.success svg{
    display: none;
}
.line_animation {
    stroke-dashoffset: 750;
    stroke-dasharray: 750;
    animation: animate-line  6s;
}
@keyframes animate-line {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes animate-fill {
    to {
        fill:#F9FAFF;
    }
}
.form-container__right-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.46px;
    color: #111111;
}

.form-container__right-suptitle {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #111111;
}

.main-form {
    margin-top: 20px;
    z-index: 5;
    position: relative;

    &__top {
        margin-bottom: 98px;
        min-height: 216px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.main-form__row {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-form__item {
    width: 235px;
    height: 42px;
    display: none;
    position: relative;
    border-bottom: 1px solid $lightgray;

    &:first-child {
        margin-right: 13px;
    }

    label {
        color: $label;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 2.9px;
        display: block;
    }

    input {
        position: relative;
        border: none;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        line-height: 16px;
        color: #111111;
        font-weight: normal;
        padding-bottom: 6.3px;
        background: transparent;
    }

    select {
        display: none;
    }

    .custom-select {
        position: relative;
    }

    .select-selected {
        position: relative;
        padding-bottom: 6.3px;
        cursor: pointer;
        font-size: 14px;
        line-height: 16px;
        color: #111;

        &:after {
            content: '';
            position: absolute;

            width: 8px;
            height: 5px;
            top: 50%;
            right: 0;
            background: url(../img/arrow.svg) no-repeat;
            transform: translateY(-50%);
            transition: .2s all;
        }

        &.select-arrow-active:after {
            top: 25%;
            transform: rotate(180deg) translateY(-50%);
        }

    }

    .select-items {
        position: absolute;
        background-color: #fff;
        margin-top: 7px;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        max-height: 155px;
        overflow: auto;
        min-width: max-content;
        padding-right: 16px;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: $lightgray;
        }

        &::-webkit-scrollbar-thumb {
            background: $blue;
        }

        cursor: pointer;

        >div {
            margin-bottom: 7px;
            font-size: 14px;
    line-height: 16px;
    color: #111;
        }

        &.select-hide {
            display: none;
        }
    }
}

.day-select {
    width: 56px;
    margin-right: 9.8px;
}

.month-select {
    width: 91px;
    margin-right: 9.8px;
}

.year-select {
    width: 68px;
}

.select__box {
    display: flex;
    justify-content: space-between;
}

.radio {
    border-bottom: none;

    input {
        position: absolute;
        opacity: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 0;
        z-index: 55;
        cursor: pointer;

    }

    .checkmark {
        border: 0.7px solid $blue;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: block;
        position: relative;


        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 50%;
            top: 50%;
            width: 6px;
            border-radius: 50%;
            height: 6px;
            background: $blue;
            transform: translateX(-50%) translateY(-50%);
        }
    }
}

.radio__box {
    display: flex;
    height: 22.9px;
}

input:checked~.checkmark:after {
    display: block;
}

.radio__item {
    display: flex;
    align-items: center;

    label {
        margin-left: 6px;
        font-size: 14px;
        line-height: 16px;
        color: #111;
        font-weight: normal;
        margin-bottom: 0;
    }

    &:first-child {
        margin-right: 19px;
    }
}

.form__add-link {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #000000;

    a {
        color: $blue;
        font-weight: 500;
        text-decoration: underline;
    }
}

form button {
    border: none;
    background: $blue;
    text-align: center;
    color: #fff;
    max-width: 154px;
    min-height: 32px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-family: $font1;
    padding: 5px 10px 7px;
}

.modal {
    display: none;
}

.success {
    .form-container__right {
        background: #fff;
    }

    form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;
    }

    .modal {
        display: block;
        margin-left: 43px;
        margin-top: 178px;

        &__title {
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: -0.46px;
            color: #111111;
            margin-bottom: 11px;
        }

        &__text {
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            color: #111111;
        }
    }

    .main-form__top,
    button,
    .form-container__right-title,
    .form-container__right-suptitle {
        display: none;
    }
}

/*Валидация*/
#email.invalid {
    border-bottom: 2px solid $red;
    color: $red;
}

.checked-icon {
    display: none;
}

.checked-icon.checked {
    display: block;
    position: absolute;
    right: 0;
    top: 55%;
    width: 11px;
    height: 8px;
    background: url(../img/success-icon.svg) no-repeat;
}

.message {
    display: none;
    color: $red;
    font-size: 14px;
    line-height: 19px;
    margin-top: 6px;
}

@import "media";